// Gray-scale.
$white: #FFFFFF;
$gray-50: #F1F1F1;
$gray-100: #E3E3E3;
$gray-200: #D3D3D3;
$gray-400: #AFAFAF;
$gray-600: #7C7C7C;
$gray-800: #343434;
$gray-900: #202020;
$black: #000000;

// Brand.
$color-primary: #4B5FFF;
$color-secondary: #C21292;
$color-warning: #FFA740;
$color-danger: #F26141;