// Size.
$text-1: 12px;
$text-2: 14px;
$text-3: 16px;
$text-4: 20px;
$text-5: 28px;
$text-6: 48px;
$text-7: 68px;

// Weight.
$weight-thin: 100;
$weight-xlight: 200;
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;
$weight-xbold: 800;
$weight-heavy: 900;

// Typography.
$font-primary: 'Roboto', sans-serif;