// General.
$form-text: $text-md;
$form-component-height: $spacing-6;
$form-padding: $spacing-3;
$form-radius: $radius-md;

// Colors.
$form-primary-bg: $gray-50;
$form-primary-fg: $gray-800;
$form-primary-placeholder: $gray-600;
$form-primary-hover: $color-primary;

$form-disabled-bg: $gray-50;
$form-disabled-fg: $gray-200;

