// Size.
$text-xs: $text-1;
$text-sm: $text-2;
$text-md: $text-3;
$text-lg: $text-4;

$heading-xs: $text-3;
$heading-sm: $text-4;
$heading-md: $text-5;
$heading-lg: $text-6;
$heading-xl: $text-7;

// Colors.
$text-primary: $gray-800;