@import './variables.scss';
@import './reset.scss';

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  background: $surface-primary;
  color: $text-primary;
  font-size: $text-md;
  font-family: $font-primary;
  overflow: auto;
}

a {
  color: $color-primary;
  text-decoration: none;
}